<launch>

	<!-- Turtlesim Node-->
	<node pkg="an_qiaov1" type="an_qiao_simu_testv1" name="an_qiao_simu_testv1" output="screen"/>
	<node pkg="an_qiaov1" type="an_qiao_pub_test" name="an_qiao_pub_test" output="screen"/>

	<!--node pkg="an_qiaov1" type="an_qiao_actuator" name="an_qiao_actuator" output="screen"/-->








</launch>
